<h1>Sign Up</h1>
<% flash.each do |type, msg| %>
  <div>
    <%=msg %>
  </div>
<% end %>

<%= form_with model: @user,url:users_path do |user_form| %>
  <%= user_form.label :name, "Name:" %>
  <%= user_form.text_field :name %>
  <%= user_form.label :email, "Email:" %>
  <%= user_form.text_field :email %>
  <%= user_form.label :password, "Password:" %>
  <%= user_form.text_field :password %>
  <%= user_form.label :password_confirmation, "Confirm_Password:" %>
  <%= user_form.text_field :password_confirmation %>
  <%= user_form.radio_button :gender, "male" %>
  <%= user_form.label :male, "Male" %>
  <%= user_form.radio_button :gender, "female" %>
  <%= user_form.label :female, "Female" %>
  <%= user_form.submit %>
<% end %>
