<div class = "container-fluid">
  <div class = "card w-50 mx-auto" >
    <div class = "card-header c1 text-center text-danger">
      <h1>Edit Paratha</h1>
    </div>
    <div class = "card-body c1">
      <% @paratha.images.each do |image| %>
        <div>
          <%= image_tag(url_for(image), class: "rounded mx-auto d-block ", alt: "Cinque Terre", width: "304", height: "236")  if @paratha.images.attached? %>
        </div>
        <%= button_to "Delete Image", image_path(@paratha,image), method: :get, class: "form_button" %> 
      <% end %>
      <%= form_with(model: @paratha, url: paratha_path(@paratha.id), method: "patch") do |paratha_form| %>
        <div class = "form-group">
          <%= paratha_form.label :name, "Name:", class: "label" %>
          <%= paratha_form.text_field :name, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= paratha_form.label :price, "Price:", class: "label" %>
          <%= paratha_form.text_field :price, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= paratha_form.label :category, "Category:", class: "lebel" %>
          <%= paratha_form.text_field :category, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= paratha_form.label :description, "Description", class: "label" %>
          <%= paratha_form.text_area :description, class: "form-control" %>
        </div> 
        <div class="photos">
          <%= paratha_form.label :images, "Add photos", class: "label" %>
          <%= paratha_form.file_field :images, :multiple => true %>
        </div>
        <div class = "form-group">
          <%= paratha_form.submit "Update Paratha", class: "form_button" %>
        </div>
      <% end %>
      <div>
        <%= button_to "Delete Paratha", paratha_path(@paratha.id), method: :delete, class: "form_button" %>
      </div>
    </div>
    <div class = "card-footer">
      <%= render partial: "shared/flash" %>
    </div>
  </div>
</div>
