<head>
  <style type="text/css">


/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
  </style>
</head>
<% @orders.each do |order| %>
  <div class="w-50 card mx-auto c1 text-center text-danger">
    <div class="card-header">
      <h1>Order No</h1>
      <%= order.id %>
    </div>
    <table class="card-table table">
      <thead>
        <tr>
          <th scope = "col">Paratha Name</th>
          <th scope = "col">Quantity</th>
          <th scope = "col">Price</th>
        </tr>
      </thead>
      <tbody>
        <% @orderparathas = order.order_parathas %>
        <% @orderparathas.each do |order_paratha| %>
          <% paratha = order_paratha.paratha %>
          <tr>
            <td><%= paratha.name %></td>
            <td><%= order_paratha.quantity %></td>
            <td><%= order_paratha.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if order.rating == 0 %>
      <div class = "card-footer">
       <div id = "give_ratings<%= order.id.to_s %>" >
          <%= link_to 'Give ratings', give_rating_path(order.id), remote: true %>
        </div>
      </div>    
    <% end %> 
  </div>
  <br><br>
<% end %>
