<%= render partial: "shared/flash" %>
<% @cart_parathas.each do |cart_paratha| %>
<% paratha = cart_paratha.paratha %>
<% total_price = 0 %>
<% total_price = paratha.price * cart_paratha.quantity if cart_paratha.quantity.present? %>
  <div class="w-50 card mx-auto c1 text-center text-danger">
    <div class="card-header">
      <%= paratha.name %>
    </div>
    <table class="card-table table">
      <thead>
        <tr>
          <th scope = "col">Price</th>
          <th scope = "col">Category</th>
          <th scope = "col">Description</th>
          <th scope ="col">Current_Quantity</th>
          <th scope ="col">Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= paratha.price %></td>
          <td><%= paratha.category %></td>
          <td><%= paratha.description %></td>
          <td><%= cart_paratha.quantity %></td>
          <td><%= total_price %></td>
        </tr>
      </tbody>
    </table>
    <% paratha.images.each do |image| %>
      <div>
        <%= image_tag(url_for(image), class: "rounded mx-auto d-block ", alt: "Cinque Terre", width: "304", height: "236")  if paratha.images.attached? %>
      </div>
    <% end %>
    <div class = "card-footer">
      <%= form_with url: cart_path(paratha.id), method: :patch do |form| %>
        <%= form.label :quantity, "Update_Quantity:", class: "label" %>
        <%= form.text_field :quantity, class: "form-control" %>
        <%= form.submit "Update Cart", class: "form_button" %>
      <% end %>
      <%= button_to "Delete From Cart", cart_path(paratha.id) , method: :delete, class: "form_button" %>
      <%= render partial: "/shared/errors", locals: { object: @cart } %>
    </div>
  </div>
  <br><br>
<% end %>
