<% if logged_in? %>
  <nav class = "navbar navbar-dark bg-dark"> 
    <div class = "nav navbar ml-auto">
      <%= button_to "Log out", session_path(current_user.id), method: :delete, class: "nav-item btn btn-primary" %>
      <%= button_to "My Profile", user_path(current_user.id), method: :get, class: "nav-item btn btn-primary" %>
      <%= button_to "Add Address", new_address_path, method: :get, class: "nav-item btn btn-primary" %>
      <%= button_to "Show Addresses", addresses_path , method: :get, class: "nav-item btn btn-primary" %>
      <% if is_admin %>
        <%= button_to "Add Paratha", new_paratha_path, method: :get, class: "nav-item btn btn-primary" %>
      <% end %>
      <%= button_to "Show Parathas", parathas_path , method: :get, class: "nav-item btn btn-primary" %>
      <%= button_to "My Cart", carts_path , method: :get, class: "nav-item btn btn-primary" %>
      <%= button_to "My Orders", show_order_path , method: :get, class: "nav-item btn btn-primary" %>
    </div>
  </nav>
<% else %>
  <nav class = "navbar navbar-dark bg-dark"> 
    <div class = "nav navbar ml-auto">
      <%= button_to "Login", new_session_path, method: :get, class: "nav-item btn btn-primary" %>
      <%= button_to "Sign Up", new_user_path, method: :get, class: "nav-item btn btn-primary"  %>
    </div>
  </nav>
<% end %>
